{% extends "layout.html" %}

{% block content %}
<title>Buckets Files</title>
<div class="container" >
    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
            <div class="error-msg">
            {% if return_error %}
              {{ return_error }}
            {% endif %}
            </div>

            {% if get_flashed_messages() %}
            <div class="flash_message">
                {% for message in get_flashed_messages() %}
                    <p>{{ message }}
                        {% endfor %}
                        Click <a href="{{ url_for('home')}}">here</a> to go back to home page
                    </p>
            </div>

            {% else %}
            <p class="note">Click link to donwload file:</p>
                {% if files %}
                  <ul class="list-group">
                    {% for file in files %}
                        {% if not file['Key'].endswith('/') %}
                        <li class="list-group-item">
                            <a href="{{ url_for('download', bucket=bucket, file=file['Key'])}}"> {{ file['Key'] }} </a>
                        </li>
                        {% endif %}
                    {% endfor %}
                  </ul>
                {% else %}
                    <p>This bucket is empty.</p>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}