{% extends "layout.html" %}

{% block content %}
<title>Get EC2 Instances</title>

<div class="form-div" >
    <form method="POST" action="/ec2">
    {{ form.hidden_tag() }}

    <div class="error-msg">
    {% if return_error %}
      {{ return_error }}
    {% endif %}
    </div>


    {{ form.key_id.label }}:
    <div class="error-msg">
    {% if form.key_id.errors %}
     {% for error in form.key_id.errors %}
      {{ error }}
     {% endfor %}
    {% endif %}
    </div>
    {{ form.key_id }}


    {{ form.key_secret.label }}:
    <div class="error-msg">
    {% if form.key_secret.errors %}
     {% for error in form.key_secret.errors %}
      {{ error }}
     {% endfor %}
    {% endif %}
    </div>
    {{ form.key_secret }}



    {{ form.account.label }}:
    <div class="error-msg">
    {% if form.account.errors %}
     {% for error in form.account.errors %}
      {{ error }}
     {% endfor %}
    {% endif %}
    </div>
    {{ form.account }}


    {{ form.region.label }}:
    <div class="error-msg">
    {% if form.region.errors %}
     {% for error in form.region.errors %}
      {{ error }}
     {% endfor %}
    {% endif %}
    </div>
    {{ form.region }}


    {{ form.submit(class="buttom") }}
    </form>
</div>

<div class="div-bucket">
    {% if get_flashed_messages() %}
        {% for message in get_flashed_messages() %}
            <p style="font-weight: bold">{{ message }}</p>
        {% endfor %}
    {% endif %}


    {% if reservation %}
    <p class="note">EC2 List:</p>
    <table style="width:100%">
      <tr>
        <th>Instance Name</th>
        <th>Instance ID</th>
        <th>Instance type</th>
        <th>Instance Private IP</th>
        <th>Instance State</th>
      </tr>
      {% for i in reservation %}
        <tr>
            <td>{{ i.instances[0].tags.get('Name') }}</td>
            <td>{{ i.instances[0].id }}</td>
            <td>{{ i.instances[0].instance_type }}</td>
            <td>{{ i.instances[0].private_ip_address }}</td>
            {% if i.instances[0].state == 'stopped' %}
                <td class="stopped_ec2">
                {{ i.instances[0].state }}
                </td>
            {% else %}
                <td class="running_ec2">
                {{ i.instances[0].state }}
                </td>
            {% endif %}
        </tr>
      {% endfor %}
    </table>
{% endif %}
</div>

{% endblock %}