{% extends "layout.html" %}

{% block content %}
<title xmlns="http://www.w3.org/1999/html">Home</title>

<div class="form-div" >
    <form method="POST" action="/">
    {{ form.hidden_tag() }}

    {{ form.key_id.label }}

    {{ form.key_id }}
    {% if form.key_id.errors %}
     {% for error in form.key_id.errors %}
      {{ error }}
     {% endfor %}
    {% endif %}

    {{ form.key_secret.label }}
    {% if form.key_secret.errors %}
     {% for error in form.key_id.errors %}
      {{ error }}
     {% endfor %}
    {% endif %}
    {{ form.key_secret }}



    {{ form.account.label }}
    {% if form.account.errors %}
     {% for error in form.key_id.errors %}
      {{ error }}
     {% endfor %}
    {% endif %}
    {{ form.account }}


     {{ form.submit(class="buttom") }}
    </form>
</div>

<div class="div-bucket">
{% if bucketlist %}
 {% for bucket in bucketlist %}
    <p class="bucket"> {{ bucket }} </p>
 {% endfor %}
{% endif %}
</div>

{% endblock %}